@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(224,229,236);
background: radial-gradient(circle, rgba(224,229,236,1) 0%, rgba(199,207,217,1) 90%);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title {
    margin: .5rem 1.5rem;
    display: flex;
    justify-content: center;
    font-family: 'Nunito Snas', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #2c3a4e;
}

.app-manager {
    margin: .5rem 1.5rem;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    position: relative;
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
    transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
    border-radius: 10px;;
}