@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(224,229,236);
    background: radial-gradient(circle, rgba(224,229,236,1) 0%, rgba(199,207,217,1) 90%);
}

.header {
    width: 100%;
    padding-top: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title {
    margin: .5rem 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Nunito Snas', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #2c3a4e;
}

.app-manager {
    margin: .5rem 1rem;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    position: relative;
    background-color: #e0e5ec;
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
    transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
    border-radius: 10px;;
}

.toolbar, .modal-btns {
    margin-right: .5rem;
    padding: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.clr-slct, .tip-slct, .ers-slct, .plt.slct {
    position: relative;
    display: inline-block;
}

.tips-content, .ers-content, .plt-content {
    display: none;
    position: absolute;
    min-width: fit-content;
    z-index: 1;
}

.btn {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 3px;
    background: #e0e5ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
    transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
    font-size: 16px;
    color: rgba(42, 52, 84, 1);
    text-decoration: none;
}

.btn:active {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}