@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(224,229,236);
background: radial-gradient(circle, rgba(224,229,236,1) 0%, rgba(199,207,217,1) 90%);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header:before {
    position: absolute;
    content: "";
    width: 99%;
    bottom: -10px;
    height: 2px;
    background-color: orange;
}